<div>
  <%= @students.each do |student| %>
        <div><%= @student.to_s %></div>
        <%link_to "@student.to_s", "students_path(@student.id)"%>
        <%link_to "profile", "students_path(@student)"%>
        <%= link_to "Status", "activate_student(@student)" %>
        <%end%>
</div>

